*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,html{
min-height: 100vh;
position: relative;
}


.header{
	display: flex;
	background-color: yellow;
width: 100%;
max-height: 15vmin;
 padding-left: 2rem;
 padding-top:1rem;
 font-weight: 600;
 font-size: larger;
 font-size: 2rem;
 color:white;	
}


footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2rem;
	color: black;
}

.main-note{
	background-color: rgb(34, 34, 34);
	max-width: 50vw;
	position: absolute;
	left: 40%;
	box-shadow: 	0 2rem 0 -1rem red,
	0 4rem 0 -2rem green;
	padding: 1rem;
}


form{
	display: flex	;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input{
	margin-top: 2rem;
	border: none;
	color: black;
	font-weight: 500;
	font-size: 1.5rem;
	text-align: left;
	margin-bottom: .5rem;
	outline: none;
	padding: .4rem;
}
textarea{
	margin-right: 1rem;
	outline:none;
	padding: 1rem;
	border: none;
	position: relative;
}
.note-container{
	display:flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
 position: absolute; 
	bottom: 10%;
	height: 100px;
}
.note{
	margin-left: 2rem;
background-color:#e7e7e7;
    border-radius: 10px;
		    padding-bottom: 1rem;

	min-width: fit-content;
	min-height:fit-content ;
	padding: 1rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
	}
	.note h2{
		   padding-bottom: 2rem;
		    max-width: 20rem;
    word-break: break-word;
}
.note p{
		    max-width: 25rem;
    word-break: break-word;

}
	
	.btn{
		padding-top: 1.6rem;
      text-align: right;
	}
	